In [1]:
import pandas as pd
import json
import numpy as np
import re, nltk
nltk.download('averaged_perceptron_tagger')
import spacy
nlp = spacy.load("en_core_web_sm")
# import en_core_web_sm
# nlp = en_core_web_sm.load()
from textblob import TextBlob

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\dxlee\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

# Data Loading

In [2]:
df = pd.json_normalize(json.load(open("complaints-2021-05-14_08_16_.json")))

# Basic Data Understanding

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78313 entries, 0 to 78312
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _index                             78313 non-null  object
 1   _type                              78313 non-null  object
 2   _id                                78313 non-null  object
 3   _score                             78313 non-null  float64
 4   _source.tags                       10900 non-null  object
 5   _source.zip_code                   71556 non-null  object
 6   _source.complaint_id               78313 non-null  object
 7   _source.issue                      78313 non-null  object
 8   _source.date_received              78313 non-null  object
 9   _source.state                      76322 non-null  object
 10  _source.consumer_disputed          78313 non-null  object
 11  _source.product                    78313 non-null  object
 12  _source.company_response           78313 non-null  object
 13  _source.company                    78313 non-null  object
 14  _source.submitted_via              78313 non-null  object
 15  _source.date_sent_to_company       78313 non-null  object
 16  _source.company_public_response    4 non-null      object
 17  _source.sub_product                67742 non-null  object
 18  _source.timely                     78313 non-null  object
 19  _source.complaint_what_happened    78313 non-null  object
 20  _source.sub_issue                  32016 non-null  object
 21  _source.consumer_consent_provided  77305 non-null  object
dtypes: float64(1), object(21)
memory usage: 13.1+ MB

In [4]:
df.head()

,_index,_type,_id,_score,_source.tags,_source.zip_code,_source.complaint_id,_source.issue,_source.date_received,_source.state,...,_source.company_response,_source.company,_source.submitted_via,_source.date_sent_to_company,_source.company_public_response,_source.sub_product,_source.timely,_source.complaint_what_happened,_source.sub_issue,_source.consumer_consent_provided
0,complaint-public-v2,complaint,3211475,0.0,None,90301,3211475,Attempts to collect debt not owed,2019-04-13T12:00:00-05:00,CA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-04-13T12:00:00-05:00,None,Credit card debt,Yes,,Debt is not yours,Consent not provided
1,complaint-public-v2,complaint,3229299,0.0,Servicemember,319XX,3229299,Written notification about debt,2019-05-01T12:00:00-05:00,GA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-05-01T12:00:00-05:00,None,Credit card debt,Yes,Good morning my name is XXXX XXXX and I apprec...,Didn't receive enough information to verify debt,Consent provided
2,complaint-public-v2,complaint,3199379,0.0,None,77069,3199379,"Other features, terms, or problems",2019-04-02T12:00:00-05:00,TX,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-04-02T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,I upgraded my XXXX XXXX card in XX/XX/2018 and...,Problem with rewards from credit card,Consent provided
3,complaint-public-v2,complaint,2673060,0.0,None,48066,2673060,Trouble during payment process,2017-09-13T12:00:00-05:00,MI,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2017-09-14T12:00:00-05:00,None,Conventional home mortgage,Yes,,None,Consent not provided
4,complaint-public-v2,complaint,3203545,0.0,None,10473,3203545,Fees or interest,2019-04-05T12:00:00-05:00,NY,...,Closed with explanation,JPMORGAN CHASE & CO.,Referral,2019-04-05T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,,Charged too much interest,N/A

In [5]:
df.tail()

,_index,_type,_id,_score,_source.tags,_source.zip_code,_source.complaint_id,_source.issue,_source.date_received,_source.state,...,_source.company_response,_source.company,_source.submitted_via,_source.date_sent_to_company,_source.company_public_response,_source.sub_product,_source.timely,_source.complaint_what_happened,_source.sub_issue,_source.consumer_consent_provided
78308,complaint-public-v2,complaint,3105617,0.0,None,08857,3105617,Closing an account,2018-12-20T12:00:00-05:00,NJ,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2018-12-21T12:00:00-05:00,None,Checking account,Yes,,Funds not received from closed account,Consent not provided
78309,complaint-public-v2,complaint,3091984,0.0,None,934XX,3091984,"Other features, terms, or problems",2018-12-05T12:00:00-05:00,CA,...,Closed with monetary relief,JPMORGAN CHASE & CO.,Web,2018-12-05T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,"On Wednesday, XX/XX/XXXX I called Chas, my XXX...",Other problem,Consent provided
78310,complaint-public-v2,complaint,3133355,0.0,None,923XX,3133355,Problem with a lender or other company chargin...,2019-01-25T12:00:00-05:00,CA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-01-25T12:00:00-05:00,None,Checking account,Yes,I am not familiar with XXXX pay and did not un...,Transaction was not authorized,Consent provided
78311,complaint-public-v2,complaint,3110963,0.0,None,None,3110963,"Other features, terms, or problems",2018-12-27T12:00:00-05:00,PA,...,Closed with monetary relief,JPMORGAN CHASE & CO.,Web,2018-12-27T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,I have had flawless credit for 30 yrs. I've ha...,Problem with balance transfer,Consent provided
78312,complaint-public-v2,complaint,2001189,0.0,None,None,2001189,Payment to acct not credited,2016-07-06T12:00:00-05:00,MI,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2016-07-07T12:00:00-05:00,None,None,Yes,Roughly 10+ years ago I closed out my accounts...,None,Consent provided

In [6]:
#Assign new column names
df.columns = ['index', 'type', 'id', 'score', 'tags', 'zip_code','complaint_id', 'issue', 'date_received',
       'state', 'consumer_disputed', 'product','company_response', 'company', 'submitted_via',
       'date_sent_to_company', 'company_public_response','sub_product', 'timely',
       'complaint_what_happened', 'sub_issue','consumer_consent_provided']

In [7]:
df_count_by_type = df.groupby('type').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_type

        type  count
0  complaint  78313

In [8]:
df_count_by_tags = df.groupby('tags').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_tags

                            tags  count
0                 Older American   6103
2                  Servicemember   3759
1  Older American, Servicemember   1038

In [9]:
df_count_by_issue = df.groupby('issue').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_issue

                                                 issue  count
76            Loan modification,collection,foreclosure   9743
82                                 Managing an account   7410
78            Loan servicing, payments, escrow account   5360
111    Problem with a purchase shown on your statement   4055
1              Account opening, closing, or management   3879
..                                                 ...    ...
3                                         Adding money      1
113                          Problem with an overdraft      1
151  Was approved for a loan, but didn't receive th...      1
88   Money was taken from your bank account on the ...      1
97              Overdraft, savings or rewards features      1

[154 rows x 2 columns]

In [10]:
df_count_by_consumer_disputed = df.groupby('consumer_disputed').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_consumer_disputed

  consumer_disputed  count
0               N/A  35683
1                No  33107
2               Yes   9523

In [11]:
df_count_by_product = df.groupby('product').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_product

                                              product  count
10                                           Mortgage  22725
1                         Checking or savings account  12147
4                         Credit card or prepaid card  10797
3                                         Credit card  10373
0                             Bank account or service   9816
6   Credit reporting, credit repair services, or o...   4310
7                                     Debt collection   3201
8   Money transfer, virtual currency, or money ser...   1500
2                                       Consumer Loan   1029
16                              Vehicle loan or lease    892
15                                       Student loan    866
9                                     Money transfers    228
5                                    Credit reporting    192
13          Payday loan, title loan, or personal loan    139
11                            Other financial service     60
14                                       Prepaid card     32
12                                        Payday loan      6

In [12]:
df_count_by_sub_product = df.groupby('sub_product').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_sub_product

                                   sub_product  count
7                             Checking account  17182
24  General-purpose credit card or charge card  10504
49                              Other mortgage   8447
9                  Conventional fixed mortgage   4892
14                            Credit reporting   4172
..                                         ...    ...
29             Government benefit payment card      4
27                       Gift or merchant card      4
39                                Medical debt      2
33                             ID prepaid card      2
17      Electronic Benefit Transfer / EBT card      1

[72 rows x 2 columns]

In [13]:
df_count_by_timely = df.groupby('timely').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_timely

  timely  count
1    Yes  78217
0     No     96

In [14]:
df_count_by_complaint_what_happened = df.groupby('complaint_what_happened').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_complaint_what_happened

                                 complaint_what_happened  count
0                                                         57241
2349   Chase has violated 15 USC 1692 by continuing c...     11
3773   Hello, I was an authorized user on a relative ...      9
6029   I filed a dispute in regards to the incorrect ...      7
18243  This particular account situation that is late...      7
...                                                  ...    ...
6991   I have a credit card with Chase. It is past du...      1
6990   I have a credit card with Chase. I have been v...      1
6989   I have a credit card with Chase. I believe the...      1
6988   I have a credit card with Chase. I also have  ...      1
20930  {$98.00} charge for phone use. Leased an apart...      1

[20931 rows x 2 columns]

In [15]:
df_count_by_sub_issue = df.groupby('sub_issue').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_sub_issue

                                             sub_issue  count
48   Credit card company isn't resolving a dispute ...   2904
62                            Deposits and withdrawals   2759
36                         Company closed your account   2020
132                  Problem using a debit or ATM card   1613
29   Card was charged for something you did not pur...   1056
..                                                 ...    ...
123              Problem cancelling or closing account      1
86                Incorrect information on your report      1
143                        Problem with direct deposit      1
167            Report shared with employer w/o consent      1
163           Receiving unwanted marketing/advertising      1

[205 rows x 2 columns]

In [16]:
df_count_by_consumer_consent_provided = df.groupby('consumer_consent_provided').size().reset_index(name='count').sort_values(by='count', ascending=False)
df_count_by_consumer_consent_provided

  consumer_consent_provided  count
3                       N/A  42847
1          Consent provided  21077
0      Consent not provided  12285
4                     Other    991
2         Consent withdrawn    105

In [17]:
null_count_df = pd.DataFrame({'columns':df.columns,
                              'empty_string_count':list(map(lambda column: (df[column] == '').sum(), df.columns)),
                              'null_value_count':list(map(lambda column: (df[column] == np.nan).sum(), df.columns))})
null_count_df

                      columns  empty_string_count  null_value_count
0                       index                   0                 0
1                        type                   0                 0
2                          id                   0                 0
3                       score                   0                 0
4                        tags                   0                 0
5                    zip_code                   0                 0
6                complaint_id                   0                 0
7                       issue                   0                 0
8               date_received                   0                 0
9                       state                   0                 0
10          consumer_disputed                   0                 0
11                    product                   0                 0
12           company_response                   0                 0
13                    company                   0                 0
14              submitted_via                   0                 0
15       date_sent_to_company                   0                 0
16    company_public_response                   0                 0
17                sub_product                   0                 0
18                     timely                   0                 0
19    complaint_what_happened               57241                 0
20                  sub_issue                   0                 0
21  consumer_consent_provided                   0                 0

# Initial Data Preprocessing

In [18]:
def clean_text(sentence):
    # Case-folding (Lowercase)
    sentence = sentence.lower()

    # Remove Punctuation, and words containing numbers
    punt_pattern = '[^\w\s]'
    word_with_num_pattern = '\w*\d\w*'
    sentence = re.sub(punt_pattern, '', sentence)
    sentence = re.sub(word_with_num_pattern, '', sentence)
    return sentence

def pos_tagger(text):
    # POS tagger
    pos_sent = []
    blob = TextBlob(text)
    pos_sent = [word for (word,tag) in blob.tags if tag=='NN']
    return " ".join(pos_sent)
    
def lemmatise(text):
    # lemmatise
    lem_sent = []
    doc = nlp(text)
    for token in doc:
        lem_sent.append(token.lemma_)
    return " ".join(lem_sent)

In [19]:
# remove empty value of complaint_what_happened
df_complain_text = df[df['complaint_what_happened']!=""]
df_complain_text

,index,type,id,score,tags,zip_code,complaint_id,issue,date_received,state,...,company_response,company,submitted_via,date_sent_to_company,company_public_response,sub_product,timely,complaint_what_happened,sub_issue,consumer_consent_provided
1,complaint-public-v2,complaint,3229299,0.0,Servicemember,319XX,3229299,Written notification about debt,2019-05-01T12:00:00-05:00,GA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-05-01T12:00:00-05:00,None,Credit card debt,Yes,Good morning my name is XXXX XXXX and I apprec...,Didn't receive enough information to verify debt,Consent provided
2,complaint-public-v2,complaint,3199379,0.0,None,77069,3199379,"Other features, terms, or problems",2019-04-02T12:00:00-05:00,TX,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-04-02T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,I upgraded my XXXX XXXX card in XX/XX/2018 and...,Problem with rewards from credit card,Consent provided
10,complaint-public-v2,complaint,3233499,0.0,None,104XX,3233499,Incorrect information on your report,2019-05-06T12:00:00-05:00,NY,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-05-06T12:00:00-05:00,None,Other personal consumer report,Yes,Chase Card was reported on XX/XX/2019. However...,Information belongs to someone else,Consent provided
11,complaint-public-v2,complaint,3180294,0.0,None,750XX,3180294,Incorrect information on your report,2019-03-14T12:00:00-05:00,TX,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-03-15T12:00:00-05:00,None,Credit reporting,Yes,"On XX/XX/2018, while trying to book a XXXX XX...",Information belongs to someone else,Consent provided
14,complaint-public-v2,complaint,3224980,0.0,None,920XX,3224980,Managing an account,2019-04-27T12:00:00-05:00,CA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-04-27T12:00:00-05:00,None,Checking account,Yes,my grand son give me check for {$1600.00} i de...,Funds not handled or disbursed as instructed,Consent provided
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78303,complaint-public-v2,complaint,3094545,0.0,Older American,281XX,3094545,"Advertising and marketing, including promotion...",2018-12-07T12:00:00-05:00,NC,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2018-12-07T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,After being a Chase Card customer for well ove...,Didn't receive advertised or promotional terms,Consent provided
78309,complaint-public-v2,complaint,3091984,0.0,None,934XX,3091984,"Other features, terms, or problems",2018-12-05T12:00:00-05:00,CA,...,Closed with monetary relief,JPMORGAN CHASE & CO.,Web,2018-12-05T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,"On Wednesday, XX/XX/XXXX I called Chas, my XXX...",Other problem,Consent provided
78310,complaint-public-v2,complaint,3133355,0.0,None,923XX,3133355,Problem with a lender or other company chargin...,2019-01-25T12:00:00-05:00,CA,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2019-01-25T12:00:00-05:00,None,Checking account,Yes,I am not familiar with XXXX pay and did not un...,Transaction was not authorized,Consent provided
78311,complaint-public-v2,complaint,3110963,0.0,None,None,3110963,"Other features, terms, or problems",2018-12-27T12:00:00-05:00,PA,...,Closed with monetary relief,JPMORGAN CHASE & CO.,Web,2018-12-27T12:00:00-05:00,None,General-purpose credit card or charge card,Yes,I have had flawless credit for 30 yrs. I've ha...,Problem with balance transfer,Consent provided
78312,complaint-public-v2,complaint,2001189,0.0,None,None,2001189,Payment to acct not credited,2016-07-06T12:00:00-05:00,MI,...,Closed with explanation,JPMORGAN CHASE & CO.,Web,2016-07-07T12:00:00-05:00,None,None,Yes,Roughly 10+ years ago I closed out my accounts...,None,Consent provided

In [20]:
df_complain_text['complaint_clean'] = df_complain_text['complaint_what_happened'].apply(clean_text)
print("Done clean")
df_complain_text['complaint_pos_tagged'] = df_complain_text['complaint_clean'].apply(pos_tagger)
print("Done lemmatisation")
df_complain_text['complaint_lemmatise'] = df_complain_text['complaint_pos_tagged'].apply(lemmatise)
print("POS Tagged")
df_complain_processed = df_complain_text[['complaint_clean','complaint_what_happened','complaint_pos_tagged','complaint_lemmatise']]
df_complain_processed

C:\Users\dxlee\AppData\Local\Temp\ipykernel_10120\712526921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complain_text['complaint_clean'] = df_complain_text['complaint_what_happened'].apply(clean_text)

Done clean

C:\Users\dxlee\AppData\Local\Temp\ipykernel_10120\712526921.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complain_text['complaint_pos_tagged'] = df_complain_text['complaint_clean'].apply(pos_tagger)

Done lemmatisation

C:\Users\dxlee\AppData\Local\Temp\ipykernel_10120\712526921.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complain_text['complaint_lemmatise'] = df_complain_text['complaint_pos_tagged'].apply(lemmatise)

POS Tagged

,complaint_clean,complaint_what_happened,complaint_pos_tagged,complaint_lemmatise
1,good morning my name is xxxx xxxx and i apprec...,Good morning my name is XXXX XXXX and I apprec...,morning name stop bank cardmember debt verific...,morning name stop bank cardmember debt verific...
2,i upgraded my xxxx xxxx card in and was told ...,I upgraded my XXXX XXXX card in XX/XX/2018 and...,i card agent upgrade date agent information or...,I card agent upgrade date agent information or...
10,chase card was reported on however fraudulent...,Chase Card was reported on XX/XX/2019. However...,card application identity consent credit ident...,card application identity consent credit ident...
11,on while trying to book a xxxx xxxx ticket ...,"On XX/XX/2018, while trying to book a XXXX XX...",book xxxx ticket i offer ticket card i informa...,book xxxx ticket I offer ticket card I informa...
14,my grand son give me check for i deposit it i...,my grand son give me check for {$1600.00} i de...,son deposit chase account fund chase bank acco...,son deposit chase account fund chase bank acco...
...,...,...,...,...
78303,after being a chase card customer for well ove...,After being a Chase Card customer for well ove...,chase card customer decade credit chase airlin...,chase card customer decade credit chase airlin...
78309,on wednesday xxxxxxxx i called chas my xxxx xx...,"On Wednesday, XX/XX/XXXX I called Chas, my XXX...",xxxxxxxx i chas visa credit card provider clai...,xxxxxxxx I cha visa credit card provider claim...
78310,i am not familiar with xxxx pay and did not un...,I am not familiar with XXXX pay and did not un...,i pay risk bank app chase mobile banking i mer...,I pay risk bank app chase mobile banking I mer...
78311,i have had flawless credit for yrs ive had ch...,I have had flawless credit for 30 yrs. I've ha...,i credit credit chase freedom xxxx balance lif...,I credit credit chase freedom xxxx balance lif...
78312,roughly years ago i closed out my accounts wi...,Roughly 10+ years ago I closed out my accounts...,jp bank xxxx order line credit i i account pay...,jp bank xxxx order line credit I I account pay...

In [21]:
# remove individual "i", "I", "s", "xxxx", "xxxxxxxx"
def clean_specific_unigram(sentence):
    unigram_to_remove = ["i", "I", "s", "xxxxxxxx", "xxxx"]

    # Remove Punctuation, and words containing numbers
    for ug in unigram_to_remove:
        unigram_pattern = f'(\A{ug} )|( {ug} )|( {ug}\Z)'
        sentence = re.sub(unigram_pattern, ' ', sentence)
    return sentence

df_complain_processed['complaint_remove_specific_unigram'] = df_complain_processed['complaint_lemmatise'].apply(clean_specific_unigram)
df_complain_processed

C:\Users\dxlee\AppData\Local\Temp\ipykernel_10120\4036945312.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complain_processed['complaint_remove_specific_unigram'] = df_complain_processed['complaint_lemmatise'].apply(clean_specific_unigram)

,complaint_clean,complaint_what_happened,complaint_pos_tagged,complaint_lemmatise,complaint_remove_specific_unigram
1,good morning my name is xxxx xxxx and i apprec...,Good morning my name is XXXX XXXX and I apprec...,morning name stop bank cardmember debt verific...,morning name stop bank cardmember debt verific...,morning name stop bank cardmember debt verific...
2,i upgraded my xxxx xxxx card in and was told ...,I upgraded my XXXX XXXX card in XX/XX/2018 and...,i card agent upgrade date agent information or...,I card agent upgrade date agent information or...,card agent upgrade date agent information ord...
10,chase card was reported on however fraudulent...,Chase Card was reported on XX/XX/2019. However...,card application identity consent credit ident...,card application identity consent credit ident...,card application identity consent credit ident...
11,on while trying to book a xxxx xxxx ticket ...,"On XX/XX/2018, while trying to book a XXXX XX...",book xxxx ticket i offer ticket card i informa...,book xxxx ticket I offer ticket card I informa...,book ticket offer ticket card information offe...
14,my grand son give me check for i deposit it i...,my grand son give me check for {$1600.00} i de...,son deposit chase account fund chase bank acco...,son deposit chase account fund chase bank acco...,son deposit chase account fund chase bank acco...
...,...,...,...,...,...
78303,after being a chase card customer for well ove...,After being a Chase Card customer for well ove...,chase card customer decade credit chase airlin...,chase card customer decade credit chase airlin...,chase card customer decade credit chase airlin...
78309,on wednesday xxxxxxxx i called chas my xxxx xx...,"On Wednesday, XX/XX/XXXX I called Chas, my XXX...",xxxxxxxx i chas visa credit card provider clai...,xxxxxxxx I cha visa credit card provider claim...,cha visa credit card provider claim purchase ...
78310,i am not familiar with xxxx pay and did not un...,I am not familiar with XXXX pay and did not un...,i pay risk bank app chase mobile banking i mer...,I pay risk bank app chase mobile banking I mer...,pay risk bank app chase mobile banking mercha...
78311,i have had flawless credit for yrs ive had ch...,I have had flawless credit for 30 yrs. I've ha...,i credit credit chase freedom xxxx balance lif...,I credit credit chase freedom xxxx balance lif...,credit credit chase freedom balance life plen...
78312,roughly years ago i closed out my accounts wi...,Roughly 10+ years ago I closed out my accounts...,jp bank xxxx order line credit i i account pay...,jp bank xxxx order line credit I I account pay...,jp bank order line credit I account payment pa...

# Exploratory data analysis

In [22]:
# unigram frequency
from nltk.tokenize import word_tokenize

text = " ".join(list(df_complain_processed['complaint_remove_specific_unigram']))
uni_tokens = word_tokenize(text)
unigram_df = pd.DataFrame({'unigram':uni_tokens})

unigram_freq_df = unigram_df.groupby('unigram').size().reset_index(name='count').sort_values(by='count', ascending=False)
unigram_freq_df.iloc[:49]

              unigram  count
2195            chase  51793
85            account  41101
3237           credit  32691
1121             bank  26821
1887             card  26054
9573          payment  13967
13294            time  11995
8483            money  11950
2281            check  10031
7709             loan  10008
6723      information   9650
7559           letter   8425
8584         mortgage   7939
0                   I   7915
9010           number   7748
544            amount   7573
9794            phone   7501
1089          balance   7135
5450            fraud   7081
11150          report   6715
2689          company   6525
3398         customer   6437
2173           charge   5817
3489              day   5509
1735         business   5461
11922         service   5383
6929         interest   5233
6195             home   5092
2417            claim   5026
13513     transaction   4996
3751       department   4693
1590           branch   4690
1812             call   4669
4097          dispute   4491
2732        complaint   4426
3466             date   4400
8732             name   4355
4502            email   4309
5072              fee   4218
14568            xxxx   4154
8519            month   4096
7103            issue   4064
1968             case   3887
12515       statement   3684
3565             debt   3492
9733           person   3331
11198  representative   3272
8956          nothing   3216
250           address   3175

In [23]:
# bigram
import itertools
from nltk import bigrams
from nltk.tokenize import word_tokenize


text = list(df_complain_processed['complaint_remove_specific_unigram'])
bigrams_2dlist = [list(bigrams(word_tokenize(txt))) for txt in text]
bigrams_flattenlist = list(itertools.chain.from_iterable(bigrams_2dlist))

bigram_df = pd.DataFrame({'bigram':bigrams_flattenlist})

bigram_freq_df = bigram_df.groupby('bigram').size().reset_index(name='count').sort_values(by='count', ascending=False)
bigram_freq_df.iloc[:49]

                      bigram  count
68466         (credit, card)  11032
47633        (chase, credit)   3490
69320       (credit, report)   3448
47009       (chase, account)   3098
47220          (chase, bank)   3030
71428    (customer, service)   3026
2849        (account, chase)   2931
24868        (bank, account)   2822
2500      (account, account)   2641
50166       (check, account)   1918
2689         (account, bank)   1639
39522          (card, chase)   1580
69395        (credit, score)   1542
75583          (debit, card)   1500
39249        (card, account)   1479
156609      (money, account)   1447
3001       (account, credit)   1388
47441         (chase, chase)   1368
39480           (card, card)   1223
85088              (do, not)   1208
39659         (card, credit)   1170
184249       (phone, number)   1147
138731       (letter, chase)   1142
47378          (chase, card)   1125
25033           (bank, bank)   1108
129322      (interest, rate)   1078
107197   (fraud, department)   1065
3942       (account, number)   1055
68601       (credit, credit)   1052
25164          (bank, chase)   1046
180606    (payment, payment)    986
143531  (loan, modification)    958
39585        (card, company)    937
2682      (account, balance)    922
25312         (bank, credit)    906
48064         (chase, fraud)    878
133502           (jp, chase)    877
183826         (phone, call)    875
68257      (credit, account)    873
69324    (credit, reporting)    830
3869        (account, money)    816
121786     (identity, theft)    805
48675         (chase, money)    767
68447      (credit, bureaus)    751
179932      (payment, chase)    750
188006      (police, report)    748
48879       (chase, payment)    740
47323        (chase, branch)    724
47666      (chase, customer)    716

In [24]:
# trigram
import itertools
from nltk import trigrams
from nltk.tokenize import word_tokenize


text = list(df_complain_processed['complaint_remove_specific_unigram'])
trigrams_2dlist = [list(trigrams(word_tokenize(txt))) for txt in text]
trigrams_flattenlist = list(itertools.chain.from_iterable(trigrams_2dlist))

trigram_df = pd.DataFrame({'trigram':trigrams_flattenlist})
trigram_freq_df = trigram_df.groupby('trigram').size().reset_index(name='count').sort_values(by='count', ascending=False)
trigram_freq_df.iloc[:49]

                                    trigram  count
153737                (chase, credit, card)   1950
216140              (credit, card, account)    822
216351              (credit, card, company)    814
216317                (credit, card, chase)    719
216404               (credit, card, credit)    598
122277                 (card, credit, card)    419
222600             (credit, report, credit)    375
78005                  (bank, credit, card)    365
12827             (account, chase, account)    363
216232                 (credit, card, bank)    324
154265           (chase, customer, service)    322
14633               (account, credit, card)    311
223042             (credit, reporting, act)    300
351087            (inquiry, credit, report)    293
146557              (chase, account, chase)    274
148933               (chase, bank, account)    270
216290                 (credit, card, card)    266
5817                              (_, _, _)    257
157301           (chase, fraud, department)    247
202608       (consumer, protection, bureau)    246
11038              (account, bank, account)    245
14772             (account, credit, report)    242
658238            (victim, identity, theft)    241
146471            (chase, account, account)    235
229193  (customer, service, representative)    235
312724              (freedom, credit, card)    229
157509             (chase, freedom, credit)    220
73637                 (bank, account, bank)    217
216231              (credit, card, balance)    216
222553              (credit, report, chase)    212
8939            (account, account, account)    209
143606               (charge, credit, card)    203
216863              (credit, card, payment)    197
172095              (check, account, chase)    188
367512                  (jp, morgan, chase)    188
217097            (credit, card, statement)    183
216820               (credit, card, number)    173
73678                (bank, account, chase)    172
20204             (account, money, account)    171
216652          (credit, card, information)    171
12872                (account, chase, bank)    167
157498               (chase, freedom, card)    167
73589              (bank, account, account)    166
223557              (credit, score, credit)    166
172037            (check, account, account)    166
167578           (chase, sapphire, reserve)    163
9019              (account, account, chase)    163
229187             (customer, service, rep)    159
121074                (card, chase, credit)    156

In [25]:
# # word cloud of unigrams
# import numpy as np
# import pandas as pd
# from os import path
# from PIL import Image
# from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

# import matplotlib.pyplot as plt


# # Start with one review:


# from nltk.tokenize import word_tokenize

# text = " ".join(list(df_complain_processed['complaint_remove_specific_unigram']))
# uni_tokens = word_tokenize(text)
# # Create and generate a word cloud image:
# wordcloud = WordCloud().generate(" ".join(uni_tokens))

# # Display the generated image:
# plt.imshow(wordcloud, interpolation='bilinear')
# plt.axis("off")
# plt.show()

# Topic Modelling

In [ ]:
# generate ticket category

# Sentiment Analysis