In [1]:
import pandas as pd
import json
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

from gensim.models.coherencemodel import CoherenceModel
from gensim.corpora.dictionary import Dictionary
from gensim.models.nmf import Nmf
from gensim.models.ldamodel import LdaModel
from gensim.models.ldamulticore import LdaMulticore
from collections import Counter
from operator import itemgetter

In [2]:
df = pd.read_csv('process_csv_stage_1.csv')
df.columns = ['old_index','preprocessed_text']
df

       old_index                                  preprocessed_text
0              1  good morning name appreciate could help put st...
1              2  upgraded card tell agent upgrade anniversary d...
2             10  chase card report however fraudulent applicati...
3             11  try book ticket come across offer apply toward...
4             14  grand son give check deposit chase account fun...
...          ...                                                ...
21067      78303  chase card customer well decade offer multiple...
21068      78309  wednesday call chas visa credit card provider ...
21069      78310  familiar pay understand great risk provide con...
21070      78311  flawless credit chase credit card chase freedo...
21071      78312  roughly year ago close account morgan chase ba...

[21072 rows x 2 columns]

In [7]:
## Initialise corpus, dictionary and topic numbers for NMF and LDA
texts = df['preprocessed_text'].str.split(' ')

dictionary = Dictionary(texts) # construct the word<->id mapping

dictionary.filter_extremes(
    no_below=5,
    no_above=0.5,
    keep_n=None
)

corpus = [dictionary.doc2bow(text) for text in texts]

topic_nums = list(np.arange(5, 60 + 1, 5))

In [8]:
document_num = 42
bow_doc_x = corpus[document_num]

for i in range(len(bow_doc_x)):
    print('Word {} ("{}") appears {} time.'.format(bow_doc_x[i][0],
    dictionary[bow_doc_x[i][0]],
    bow_doc_x[i][1]))

Word 5 ("bank") appears 1 time.
Word 47 ("would") appears 1 time.
Word 57 ("report") appears 1 time.
Word 63 ("apply") appears 1 time.
Word 68 ("contacted") appears 1 time.
Word 70 ("correct") appears 1 time.
Word 135 ("inquiry") appears 1 time.
Word 144 ("assure") appears 1 time.
Word 209 ("two") appears 1 time.
Word 223 ("company") appears 2 time.
Word 257 ("review") appears 1 time.
Word 268 ("year") appears 1 time.
Word 299 ("initiate") appears 1 time.
Word 961 ("amd") appears 1 time.
Word 962 ("inaccuracy") appears 1 time.
Word 963 ("involve") appears 1 time.
Word 964 ("none") appears 1 time.